.cuerpo {
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    color:  hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 19em;
    margin-top: 19vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 01.5em;
    padding: 1.5em;
    border-radius: 11px;
    background-color:  hsl(216, 50%, 16%);
}

.img {
    border-radius: 0.8em;
}

.img, .img ~ p {
    margin-bottom: 0.5em;
}

.equilibrium {
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}

.distancia {
    display: inline-block;
}

.cyan {
    color:  hsl(178, 100%, 50%);
}

.icon {
    margin-left: 6.5em;
    /* display: inline; */
}